.content {
  margin-left: 150px;
  margin-top: 72px;
  margin-right: 158px;
  display: flex;
  justify-content: space-between;

}
.colors {
  height: 610px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.types {
  width: 428px;
}