include ./color-block/color-block.pug
style 
  include page-colors-type.scss 
figure.page__logo
div.content
  div.colors
    +color-block("Dark Shade 100%", "#1F2041", "ds100")
    +color-block("Dark Shade 75%", "#1F2041", "ds75")
    +color-block("Dark Shade 50%", "#1F2041", "ds50")
    +color-block("Dark Shade 25%", "#1F2041", "ds25")
    +color-block("Dark Shade 5%", "#1F2041", "ds5")
    +color-block("Purple", "#BC9CFF", "purple")
    +color-block("Green", "#6FCF97", "green")
  div.types