.dropdown__label {
  margin-bottom: 5px;
  max-width: 320px;
}
.dropdown__input {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding-left: 15px;
}

.dropdown__input:hover,
.dropdown__input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.dropdown__label::after {
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(31, 32, 65, 0.5);
  border-top: 2px solid rgba(31, 32, 65, 0.5);
  margin-right: 15px;
  position: absolute;
  right: 2px;
  top: 37px;
  transform: rotate(135deg);
  z-index: 100;
} 