style 
  include ui-kit.scss
h2.page__title Colors & Type 
section.colors-type
  include ./colors-type/page-colors-type

h2.page__title Form Elements
section.form-elements
  section.cards
  section.headers-footers
    