@import "./styles/fonts.scss";
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "generalFont", Arial, sans-serif;
}

$DarkShade100: #1F2041;
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.5);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade05: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;

body, figure {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}
h1 {
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
  font-weight: bold;

}
h2 {
  font-size: 19px;
  line-height: 23px;
  color: #1F2041;
  font-weight: bold;

}
h3 {
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  font-weight: bold;
  text-transform: uppercase;

}
p {
  font-family: "generalFont";
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);

}
.ui-kit {
  background-color: #E5E5E5;
  padding-top: 30px;
}
.page__title {
  color:rgba(31, 32, 65, 0.25);
  margin-left: 55px;
  margin-bottom: 5px;
}

.page__logo {
  background-image: url("./images/logo.svg");
  width: 48px;
  height: 48px;
}