style 
  include color-block.scss 
mixin color-block(name, col, bg) 
  div.color-block
    div.color-block__rectangle(class="color-block__rectangle color-block__rectangle_bg_"+bg)
    div.color-block__text
      p.color-block__title #{name}
      p.color-block__code #{col}