style
  include rate-button.scss 
mixin rate-button(countGrate)
  - var countStar = countGrate
  - var countBorder = 5 - countGrate
  div.rate-button 
    while countStar > 0
      - countStar--
      span.rate-button__icon.material-icons star
    while countBorder > 0 
      - countBorder--
      span.rate-button__icon.material-icons star_border
    
    