.rate-button {
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.rate-button__icon {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  color: #BC9CFF;
  cursor: pointer;
}
