doctype html
style 
  include style.scss 
html(lang="ru")
  body
    h1 hello all
    script 
      include index.js 
    article.ui-kit
      section.colors-type
      section.form-elements
      section.cards
      section.headers-footers
    