style 
  include like-button.scss
mixin like-button(label, mode)
  if mode == "pressed"
    div.like-button.like-button_pressed
      button.like-button__btn #{lab}
      span(class="like-button__icon material-icons") favorite
  else 
    div.like-button
      button.like-button__btn #{lab}
      span(class="like-button__icon material-icons") favorite_border