.text-field-masked__label {
  margin-bottom: 5px;
}
.text-field-masked__input {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding-left: 15px;

}
.text-field-masked__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color:rgba(31, 32, 65, 0.25);
}
.text-field-masked__input:focus, 
.text-field-masked__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
} 
.text-field-masked__input:focus::placeholder, 
.text-field-masked__input:hover::placeholder {
  color:rgba(31, 32, 65, 0.75);
} 