style 
  include text-field-masked.scss
mixin text-field-masked(label, placehold)
  div.text-field-masked
    h3.text-field-masked__label #{label}
    input(type="text" class="text-field-masked__input" placeholder=placehold)
script 
  include text-field-masked.js